@font-face {
    font-family: WhirlyBirdieVariable;
    src: url("font_embed/WhirlyBirdieGX.ttf");
}

h1 {
    font-family: 'WhirlyBirdieVariable', sans-serif;
    /*wght - font weight, wdth - font width, ital - italics*/
    font-variation-settings: 'wght' 90, 'wdth' 150, 'ital' 0;
    font-size: 4em;
    letter-spacing: -4px;
    color: #d30049;/*#AA0000;*/
}

h4 {
    margin-top: -2.5em;
    /*padding: 5px 5px;*/
    margin-left: 3px;
    margin-right: -3px;
    padding: 5px 5px;
    font-family: 'WhirlyBirdieVariable', sans-serif;
    font-variation-settings: 'wght' 60, 'wdth' 150, 'ital' 0;
    letter-spacing: 2px;
    text-align: right;
    font-size: 1.2em;
    color: #fff;
    background-color:#d30049;
}

div.title {

    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

div.center {
    margin: 0 auto;
}

#myVideo {
    position: fixed;
    top: 0;
    min-height: 100%;
}
