h1 { color: #EA9215; }
h2 { color: #9AA7B0; }
hr { background-color:#9AA7B0; }
small {color: #5A6770}
body {
  color: #CCCCCC;
  background: #303841;
  margin: 50px;
  padding: 50px;
  font-family: "Microsoft Yahei";
  }