@font-face {
    font-family: WhirlyBirdieVariable;
    src: url("font_embed/WhirlyBirdieGX.ttf");
}

h1 {
    font-family: 'WhirlyBirdieVariable', sans-serif;
    /*wght - font weight, wdth - font width, ital - italics*/
    font-variation-settings: 'wght' 90, 'wdth' 150, 'ital' 0;
    font-size: 4em;
    letter-spacing: -4px;
    color: #AA0000;
}

h4 {
    margin-top: -2.5em;
    font-family: 'WhirlyBirdieVariable', sans-serif;
    font-variation-settings: 'wght' 50, 'wdth' 150, 'ital' 0;
    text-align: right;
    font-size: 1.2em;
    color: #AA0000;
}

div.title {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}