	/*Titles*/
	h2.title {
		z-index:5;
		position: fixed;
		align:center;
		text-align:center;
		color: #111111; 
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		/*Absolute Center*/
		margin-top:0;
		top:0;
		padding: 50px;
		font-size: 58px;
		font-family: source-han-serif-sc,serif;
		background-color:#FFFFFF;
	}
	h2.subtitle {
		z-index:5;
		position: fixed;
		align:center;
		text-align:center;
		color: #111111; 
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		/*Absolute Center*/
		margin-top:0;
		top:140;
		position: abosolute;
		padding:0px;
		font-size: 18px;
		font-family: source-han-serif-sc,serif;
		font-weight: bold;
	}
	/*Button Formations - Not Currently in use*/
	button {
		background-color: transparent;
		border: 3px solid #111111;
		border-radius: 30px;
		color: #111111; 
		padding: 8px 20px;
		text-align: center;
		align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		font-family: source-han-serif-sc,serif;
		font-weight: bold;
	}
	/*Background Coloring*/
	body {
		background-color: #EEEEEE;
	}
	/*Navigation Bar on Top*/
	nav {
		z-index:5;
		position: fixed;
		align:center;
		text-align:center;
		color: #111111; 
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		/*Absolute Center*/
		top:120;
		margin:60px 0px;
		align:center;
		padding: 20px;
		
		text-align:center;
		background-color:#FFFFFF;
		box-shadow: 0px 4px 5px #AAAAAA;
		line-height:38px;
	}
	/*Navigation Bar on Top*/
	a.nav {
		z-index:5;
		color: #111111; 
		padding: 20px;
		font-size: 20px;
		font-family: source-han-serif-sc,serif;
		text-decoration:none;
		line-height:38px;
		
	}
	a.nav:hover{
		color: #999999; 
	}
	a.textlink {
		width:200px;
		background-color: transparent;
		border: 2px solid #111111;
		border-radius: 30px;
		color: #111111; 
		padding: 6px 16px;
		margin-top: 5px;
		text-align: center;
		align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-family: source-han-serif-sc,serif;
		transition: color 0.2s, background-color 0.2s;
		position:relative;
		bottom: 0px;
	}
	a.textlink:hover {
		background-color: #111111;
		color: #FFFFFF; 
	}
	/*Ultimate Container that contains all contents*/
	/*
	container
	|_article
	  |_p, div, a, etc.	
	*/
	div.container{
		display:flex;
		width: 100%;
		height:100%;

		text-align: center;
		padding: 0px;
		margin: 0px 0px;
		position:absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 290;
		margin-bottom:80px;
		flex-wrap: wrap;
		justify-content: center;
	}
	div.nisemasonry{
		
		text-align: center;
		padding: 0px;
		margin: 0px 0px;
		position:absolute;
		margin-left: 3%;
		margin-right: 3%;
		left: 0;
		right: 0;
		top: 290;
		margin-bottom:80px;
		
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-moz-column-gap:10px;
		-webkit-column-gap:10px;
		column-gap:10px;
		padding: 10px;
		
	}
	/*Content Container Boxes*/
	div.article{
		margin:10px;
		padding-bottom:50px;
		background-color:#FFFFFF;
		width:30%;
		height:auto;
		min-height:max-content;
		display: inline-block;
		box-shadow: 0px 2px 3px #AAAAAA;
		transition: box-shadow 0.2s, transform 0.2s;
	}
	div.bvideo{
		position:relative;
		margin:5px;
		padding-bottom:30px;
		min-width:30%;
		max-width:30%
		min-height:max-content;
		display: inline-block;
		background-color:#FFFFFF;
		box-shadow: 0px 2px 3px #AAAAAA;
		transition: box-shadow 0.2s, transform 0.2s;
		margin-bottom: 10px;
	}
	div.bvideo:hover{
		box-shadow: 0px 4px 10px #AAAAAA;
		transform: scale(1.01, 1.01);
	}
	div.article:hover{
		box-shadow: 0px 4px 10px #AAAAAA;
		transform: scale(1.01, 1.01);
	}
	/*Content Box Variation: Link only & full picture*/
	a.link{
		margin:10px;
		background-color:#FFFFFF;
		width:400px;
		height:300px;
		display: inline-block;
		box-shadow: 0px 2px 3px #AAAAAA;
		transition: box-shadow 0.2s, transform 0.2s;
		text-decoration:none;
		color:#111111;
	}
	a.link:hover{
		box-shadow: 0px 4px 10px #AAAAAA;
		transform: scale(1.01, 1.01);
	}
	p.linkdesc {
		z-index:5;
		color:rgba(255,255,255,0.0);
		font-size: 50px;
		font-family: source-han-serif-sc,serif;
		text-decoration:none;
		margin-top:-180px;
		white-space: nowrap;
	}
	a.link:hover .linkdesc{
		color:rgba(255,255,255,1);
	}
	img.full{
		background-color: #EFEFEF;
		width: 400px;
		height: auto;
		filter:brightness(95%);
		transition:filter 0.2s;
		
	}
	a.link:hover .full{
		filter:brightness(105%);
	}
	/*现有的东西为什么不拿来用呢*/
	a.link .tooltiptext {
		visibility: hidden;
		width: 340px;
		background-color: rgba(0,0,0,0.8);
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 10px 0;
		margin-top:-180px;
		margin-left: -170px;
		font-family: source-han-serif-sc,serif;
		font-size: 20px;
		/* 定位 */
		position: absolute;
		z-index: 1;
	}
	
	a.link:hover .tooltiptext {
    visibility: visible;
	}

	/*Content Box Variation: Only show picture, size limited*/
	div.pictureonly{
		margin:10px;
		background-color:#FFFFFF;
		width:60%;
		height:auto;
		
		box-shadow: 0px 2px 3px #AAAAAA;
		transition: box-shadow 0.2s, transform 0.2s;
	}
	div.pictureonly:hover{
		box-shadow: 0px 4px 10px #AAAAAA;
		transform: scale(1.01, 1.01);
	}
	img.pictureonly{
		background-color: #EFEFEF;
		object-fit: cover;
		min-height:500px;
		width: 100%;
		height: 100%;
	}
	img {
		background-color: #EFEFEF;
		object-fit: cover;
		max-height:300px;
		width: 100%;
		height: 100%;
		padding-bottom:0px;
	}
	h3.title {
		font-size: 22px;
		font-family: source-han-serif-sc,serif;
	}
	h3.small {
		font-size: 18px;
		font-family: source-han-serif-sc,serif;
	}
	p.small {
		font-size: 15px;
		font-family: source-han-serif-sc,serif;
		padding: 0px 15px;
		word-break: normal;
	}
	p {
		font-size: 18px;
		font-family: source-han-serif-sc,serif;
		padding: 0px 30px;
		word-break: normal;
	}
	
