h1 { 

	color: #EA9215; 
	  font-family: "Roboto Condensed";

}
h3 { 
	color: #9AA7B0;
	font-family: "Roboto Condensed";
}
hr { background-color:#9AA7B0; }
small {
	color: #5A6770;
	text-align:center;
}
body {
  color: #BBBBBB;
  background: #303841;
  margin: 50px;
  padding: 50px;
  font-family: "Roboto Condensed";

  }
  
  p {
	
  }
  
img {
	opacity:0.7;
}
a {
	color: #BBBBBB;
	font-family: "Roboto Condensed";
	text-align:center; 
	font-size: 22px;
}

button {
    background-color: #BB4014; /* Literally Green */
    border: 2px;
	border-radius: 5px;
    color: #EEEEEE;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: "Roboto Condensed";
}

input[type=number] {padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
    border-radius: 5px;
	font-family: "Roboto Condensed";
	padding: 8px 20px;	
}
input[type=number]:focus {border-color:#333; }

input[type=color] {border:1px  #ccc; 
-webkit-border-radius: 1px;
    border-radius: 5px;
	font-family: "Roboto Condensed";
	margin: 0;
	size: 8px 20px;
}
input[type=color]:focus {border-color:#333; }
